# Terraform Provider testing workflow.
name: CI

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'

permissions:
  contents: read

jobs:
  # Ensure project builds before running testing matrix
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run linters
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      # We need the latest version of Terraform for our documentation generation to use
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - run: make generate
      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'make generate' command and commit."; exit 1)

  # Bump if everything passed and event is push
  bump:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
     - build
     - generate
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with: 
          fetch-tags: true
          ref: main
          fetch-depth: 0
      - name: Bump version
        run: |
          mkdir $RUNNER_TEMP/svu
          wget -qO- https://github.com/caarlos0/svu/releases/download/v3.3.0/svu_3.3.0_linux_amd64.tar.gz | tar xzf - -C $RUNNER_TEMP/svu
          chmod +x $RUNNER_TEMP/svu/svu
          next=$($RUNNER_TEMP/svu/svu next)
          git tag $next
          git push origin $next
      
  ## Removed as there are no tests currently
  # # Run acceptance tests in a matrix with Terraform CLI versions
  # test:
  #   name: 'Acceptance Tests: Terraform ${{ matrix.terraform }}'
  #   needs: build
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 15
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       # Terraform versions
  #       terraform:
  #         - '1.13.*'
  #         - '1.14.*'
  #   steps:
  #     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
  #     - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
  #       with:
  #         go-version-file: 'go.mod'
  #         cache: true
  #     - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
  #       with:
  #         terraform_version: ${{ matrix.terraform }}
  #         terraform_wrapper: false
  #     - run: go mod download
  #     - env:
  #         TF_ACC: "1"
  #       run: go test -v -cover ./internal/provider/
  #       timeout-minutes: 10
